<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "T.A.C.O." %></h2>
  <p class="lead">This is a prototype catalog that is really fast.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="/api/catalog">Object Catalog</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <p>This is a prototype catalog</p>
  </div>
</div>
